body{
    padding: 10%;
    height: 100vh;
}
/* .form-group{
    padding: 20px;
    display: none;
} */
form{

    box-shadow: 5px 5px 10px gray;
    padding: 5%;
    margin-top: 20px;
    border-radius: 10px;
}

h1{
    font-weight: bold;
}

.form-group{
    margin-bottom: -2%;
    font-size: 30px;
    font-weight: bold;
}
/* .new-area{
    display: none;
} */
.main{
    display: none;
}
.depostie   {
    background-color: #ffcc00;
;
}

.wthdraw{
    background-color: #ff5050;
}
.balace {
    background-color:  #79c753;
}

.details{
    border-radius: 10px;
    padding: 50px;
    font-size: 70px;
    font-weight: bold;
    
}
.form-item{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
   
}
.entrymoney{
    margin-top: 100px;
}
