.title,.description{
    color:white;
    font-weight: bold;
}
.title{
    font-weight: bold;
    margin-top: 20% ;
}
.bookingform{
        background-color: white;
        margin-left: 25%;
        width: 60%;
        padding: 5%;
        border-radius: 10px;
}
.bookingbtn{
    width: 100%;
}